/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #eeeeee; }
.text-center{
    text-align: center;
}
.mt2{
    margin-top: 2%!important;
}
.mb2{
margin-bottom: 2%!important;
}
.mr2{
    margin-right: 2%!important;
}
.ml2{
    margin-left: 2%!important;
}
.mt3{
    margin-top: 3%!important;
}
.mb3{
margin-bottom: 3%!important;
}
.mr3{
    margin-right: 3%!important;
}
.ml3{
    margin-left: 3%!important;
}